#edu{
    font-weight:bolder;
    font-style:initial;
}
.read{
    font-style: italic;
    font-size: 15Px;
    background-color: green;

}
.brief{
    text-align:center;
}
.about{
    font-style: italic;
    background-color: burlywood;

.important{
    float: right;
}

.school{
        font-style: normal;
}